[Unit]
Description=httpd server daemon   
After=network.target       

[Service]
Type=forking
ExecStart=/usr/local/httpd/bin/apachectl start    
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
