! Configuration File for keepalived

global_defs {
   router_id R2
}

vrrp_instance VI_1 {
    state BACKUP
    interface ens33
    virtual_router_id 81
    priority 80
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass {{ pillar['keepalived_pass'] }} 
    }
    virtual_ipaddress {
        {{ pillar['keepalived_vip'] }}
    }
}

virtual_server {{ pillar['keepalived_vip'] }} {{ pillar['keepalived_port'] }} {
    delay_loop 6
    lb_algo rr
    lb_kind NAT
    persistence_timeout 50
    protocol TCP
    
{% for rs_ip in pillar['rs_info'] %}    real_server {{ rs_ip }} {{ pillar['keepalived_port'] }} {
        weight 1
        TCP_CHECK {
            connect_port {{ pillar['keepalived_port'] }}
            connect_timeout 3
            nb_get_retry 3
            delay_before_retry 3
        }
    }
{% endfor %}
}
